
/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */

*{
 padding: 0;
 margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(204, 43%, 93%);
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}

h1{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(179, 62%, 43%);
    margin-bottom: 28px;
}

h2{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    margin-bottom: 22px;
}
ul{
    list-style: none;
}

li{
    margin-bottom: 5px;
}

dt{
    color: #fff;
    font-family: sans-serif;
}

.main-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 644px;
    margin: auto 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* FIRST BLOCK */

.join-us{
    flex: 1 0 644px;
    background-color: #fff;
    padding: 40px 40px;
}

.special-content{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: hsl(71, 73%, 54%);
    margin-bottom: 14px;
}

.content{
        color: #AAADB2;
        font-family: sans-serif;
}

.content2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: lighter;
}

/* SECOND BLOCK */

.subscription{
    flex: 1 0 auto;
    background-color: hsl(179, 62%, 43%);
    padding: 40px 40px;
}

.price{
    display: inline-block;
    color: #fff;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-right: 15px;
    margin-bottom: 15px;
}

.per-month{
    display: inline-block;
    color: rgba(255, 255, 255, 0.644);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

button{
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    padding: 20px 90px;
    margin: 30px auto;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover,
button:focus {
    background: #4ABEBD;
}

.btn-cta{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* THIRD BLOCK */

.why-us{
    flex: 1 0 auto;
    background-color: #4ABEBD;
    padding: 40px 40px;
}

/* FOOTTER */

footer{
    color: hsl(179, 62%, 43%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin-top: 30px;
    padding-bottom: 10px;
}

@media screen and (max-width:701px){

    body{
        height: 100%;
    }
    .main-wrap{
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .join-us{
        flex: 1 1 auto;
        background-color: #fff;
        padding: 40px 40px;
    }
    .subscription{
        flex: 1 1 auto;
        background-color: hsl(179, 62%, 43%);
        padding: 40px 40px;
    }
    .why-us{
        flex: 1 1 auto;
        background-color: #4ABEBD;
        padding: 40px 40px;
    }
    button{
        margin: 30px auto 0;
        padding: 20px 80px;
        font-family: sans-serif;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .content{
        display: inline;
        color: #AAADB2;
        font-family: sans-serif;
        line-height: 25px;
    }
    li{
        margin-bottom: 10px;
    }
} 